h1{
    text-align:center;
    color:cadetblue;
    font-size: 60px;
    font-style: bold;
}
h2{
    text-align:center;
    color:cadetblue;
    font-style:bold;
}
a{
    color:black;
    text-decoration: none;
}
ol ul{
    padding-top: 10px;
}
li{
    padding-bottom:10px;
}
